.card-images {
    max-height: 400px;
}

.card {
   width: 300px;
}

.footer-element {
    color: white;
    text-decoration: none;
}

.footer-element:hover {
    text-decoration: underline;
    color: aliceblue;
    cursor: pointer;
}